@import url("https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Gochi+Hand&family=Homemade+Apple&family=Nerko+One&family=Pacifico&family=Permanent+Marker&family=Sriracha&display=swap");

h1 {
    font-size: 20vh;
    text-shadow: 2px 2px rgb(31, 24, 24);
    text-align: center;
    width: 100%;
    cursor: default;
    filter: hue-rotate(90deg);

}

* {
    overflow: hidden;
    user-select: none;
    /* Hide scrollbars and disable selection*/

}